<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>后台管理</title>
<link rel="stylesheet" href="__PUBLIC__/css/backstage.css">
</head>

<body>

    <include file="Public:head"/>
    <include file="Public:nav"/>
    
    <div class="content clearfix">
        <div class="main">
            <!--右侧内容-->
            <div class="cont">
                <div class="title">系统信息</div>
                <div class="details">
                    <!--表格-->
                    <table class="table" cellspacing="0" cellpadding="0" style="text-align:center;">
                        <thead>
                            <tr>
                                <th width="15%">类型</th>
                                <th width="25%">参数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 循环出基本信息 -->
                            <volist name="info" id="v" empty="暂时没有数据！！！">
                                <tr>
                                    <td>{$key}</td>
                                    <td>{$v}</td>
                                </tr>
                            </volist>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <include file="Public:left"/>

    </div>
</body>
</html>